<div class="mx-auto max-w-6xl">
  <%= form_for(workspace, html: { role: 'form' }) do |form| %>
    <%= render 'form_header', record: workspace %>
    <%= render 'form_body' do %>
      <%= render 'section', first_section: true do %>
        <%= render 'section_header', title: 'Overview', subtitle: 'General settings for this workspace.' %>
        <%= render 'section_body' do %>
          <div class="sm:col-span-4">
            <%= form.label :name %>
            <%= form.text_field(:name, placeholder: 'Workspace name', autofocus: true, required: true) %>
          </div>

          <div class="sm:col-span-4">
            <%= form.label :description  %>
            <%= form.text_area :description %>
          </div>

        <% end %>
      <% end %>

      <%= render 'section' do %>
        <%= render 'section_header', title: 'Other Settings' %>
        <%= render 'section_body' do %>
          <div class="sm:col-span-4 flex items-center space-x-2">
            <%= form.checkbox :classic_grid_mode %>
            <%= form.label :classic_grid_mode, class: "mb-0" %>
          </div>

          <div class="sm:col-span-4 flex items-center space-x-2">
            <%= form.checkbox :community_labels %>
            <%= form.label :community_labels, class: "mb-0" %>
          </div>

          <div class="sm:col-span-4 flex items-center space-x-2">
            <%= form.checkbox :problem_opportunity_labels %>
            <%= form.label :problem_opportunity_labels, 'Problem / opportunity labels', class: "mb-0" %>
          </div>
        <% end %>
      <% end %>
      <%= render 'form_buttons', form:, cancel_path: workspace.persisted? ? workspace_path(workspace) : workspaces_path %>
    <% end %>
  <% end %>
</div>

