<div class="relative isolate overflow-hidden">
  <%= render 'top_links' %>
  <div class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]" aria-hidden="true">
    <div class="aspect-1108/632 w-[69.25rem] bg-linear-to-r from-[#80caff] to-[#4f46e5] opacity-20" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 pb-16 pt-8 sm:pb-16 lg:px-8 lg:pt-40 flex flex-col">
    <div class="flex items-center gap-x-6 ml-8 mb-8">
      <%= landing_pages_h1 title: "#{current_theme_display_name} Terms and Conditions" %>
    </div>
    <div class="text-white <%= document_bg_class_for_current_theme %> rounded-lg p-8 w-full">
      <h2 class="text-3x1 font-bold leading-10">Preamble</h2>
      <p class="my-4 text-gray-300">
        Welcome to this digital Platform. These Terms and Conditions outline the rules and regulations for the use of 
        the Platform. By accessing and using this Platform, you agree to comply with these terms. If you disagree with 
        any part of these terms, please refrain from using the services.
      </p>

      <h2 class="text-3x1 font-bold leading-10">1. Use of the Platform</h2>
      <p class="my-4 text-gray-300">
        Eligibility: You must be at least 18 years old or have the consent of a legal guardian to use this Platform.
      </p>
      <p class="my-4 text-gray-300">
        Account Registration: You are responsible for maintaining the confidentiality of your account information and for 
        all activities that occur under your account.
      </p>
      <p class="my-4 text-gray-300">
        Prohibited Activities: You agree not to engage in any unlawful, harmful, or disruptive activities while using the 
        Platform.
      </p>

      <h2 class="text-3x1 font-bold leading-10">2. Intellectual Property Rights</h2>
      <p class="my-4 text-gray-300">
        Ownership of User Data: Users retain full ownership of any personal data and content they submit or post on the Platform. 
        You are responsible for ensuring that your content does not infringe on the intellectual property rights of others 
        and for addressing any copyright claims that may arise from your content.
      </p>
      <p class="my-4 text-gray-300">
        Platform Content: All content created by us, including text, graphics, logos, and software, is the property of the Platform or its content suppliers and is protected by intellectual property laws.
      </p>
      <p class="my-4 text-gray-300">
        License: We grant you a limited, non-exclusive, non-transferable license to access and use the Platform for personal or
        commercial purposes.
      </p>

      <h2 class="text-3x1 font-bold leading-10">3. User-Generated Content</h2>
      <p class="my-4 text-gray-300">
        Responsibility: You are solely responsible for any content you submit or post on the Platform. By submitting content, you 
        grant us a non-exclusive, royalty-free license to use, reproduce, and distribute your content on your behalf.
      </p>
      <p class="my-4 text-gray-300">
        Prohibited Content: You agree not to submit any content that is illegal, offensive, or infringes on the rights of others.
      </p>

      <p class="my-4 text-gray-300">
        Data Access: Your data remains your property. In the case of expired accounts, the Platform provides limited, read-only 
        access to user data to enable users to retrieve or review their data. Refer to the 
        <%= landing_pages_link_to 'Data Retention Policy', data_retention_path %> for more information.
      </p>

      <h2 class="text-3x1 font-bold leading-10">4. Privacy</h2>
      <p class="my-4 text-gray-300">
        Data Collection and Use: The <%= landing_pages_link_to 'Privacy Policy', privacy_path %> outlines how 
        we collect, use, and protect your personal information. By using the Platform, you consent to the data 
        practices as described in the Privacy Policy.
      </p>
      <p class="my-4 text-gray-300">
        Cookies: The Platform uses cookies to enhance user experience. Please refer to the 
        <%= landing_pages_link_to 'Cookies Policy', cookie_path %> for details on how we use cookies.
      </p>

      <h2 class="text-3x1 font-bold leading-10">5. Limitation of Liability</h2>
      <p class="my-4 text-gray-300">
        No Warranties: The Platform is provided on an "as-is" and "as-available" basis. We make no warranties 
        or representations regarding the accuracy or completeness of the content on the Platform.
      </p>
      <p class="my-4 text-gray-300">
        Limitation: We shall not be liable for any direct, indirect, incidental, consequential, or punitive 
        damages arising from your use of the Platform.
      </p>

      <h2 class="text-3x1 font-bold leading-10">6. Indemnification</h2>
      <p class="my-4 text-gray-300">
        In consideration of us granting you access to and permitting you and others to utilise the Platform, you irrevocably 
        and unconditionally indemnify and keep us indemnified against Direct or Indirect Loss, which we may suffer in relation to:-
        <ul class="list-decimal list-outside text-indent text-gray-300 ml-8 mb-4">
          <li>
            a breach of these terms and conditions by you;
          </li>
          <li>
            the use of or access to any part of the Platform other than in accordance with these term and conditions 
            by you or a person authorised by you; 
          </li>
          <li>
            your use of the Data Models hosted on the Platform;
          </li>
          <li>
            any breach of a third person's Privacy Rights by you;
          </li>
          <li>
            any breach of a third person's Intellectual Property Rights by you;
          </li>
          <li>
            reliance on or use by a third party of any Data Models or other information put onto the Platform by you;
          </li>
        </ul>
        <span class="text-gray-300">
          other than to the extent that such loss, damage, cost, charge, liability, or expense is caused by our 
          negligence or our wilfully wrong or unlawful act or omission. 
        </span>
      </p>
      <p class="my-4 text-gray-300">
        You will on demand immediately pay us any amount of Direct or Indirect Loss, damage, cost, charge, liability, 
        or expense so indemnified.
      </p>

      <p class="my-4 text-gray-300">
        For the purposes of this clause:-
        <ul class="list-decimal list-outside text-indent text-gray-300 ml-8 mb-4">
          <li>
            <span class="font-bold">You</span> means you and any persons who access the platform via your account (whether 
            with or without your permission);
          </li>
          <li>
            <span class="font-bold">Direct or Indirect Loss</span> includes any direct or indirect or consequential loss 
            (including for example any loss of profit), damage, cost, charge, liability, or expense (including all reasonable 
            legal costs on an indemnity basis) which as at the date the damage was incurred can form part of a damages claim 
            under Australian law;
          </li>
          <li>
            <span class="font-bold">Platform</span> means the app comprising the software environment (including the servers, 
            source code, databases, monitoring and other ancillary support services) and user infrastructure and tools which host, 
            manage and integrate data collection for the reporting of change in organisations.  
          </li>
          <li>
            <span class="font-bold">Privacy Rights</span> include all personal information as defined in the Privacy Act 1988 and 
            any other rights of privacy which may subsist in any country in which your Data Models are to be used;
          </li>
          <li>
            <span class="font-bold">Intellectual Property Rights</span> means all intellectual property and industrial property 
            rights whether in Australia or elsewhere in the Platform and Data Models;
          </li>
          <li>
            <span class="font-bold">Data Models</span> means the customisable elements used to organise and structure data 
            within the Platform, including the elements described as entities, attributes, relationships, validation rules, 
            custom views, workflows and automation, and documentation.
          </li>
        </ul>
      </p>
      <p class="my-4 text-gray-300">
        Where you comprise one or more persons, your liability under this indemnity is joint and several.
      </p>

      <p class="my-4 text-gray-300">
        This indemnity is a continuing indemnity and survives termination of the user's account or use of the platform.
      </p>

      <h2 class="text-3x1 font-bold leading-10">7. Changes to These Terms</h2>
      <p class="my-4 text-gray-300">
        We reserve the right to update or modify these Terms and Conditions at any time. Any changes will be posted on this page, 
        and your continued use of the Platform after such changes constitutes acceptance of the revised terms.
      </p>

      <h2 class="text-3x1 font-bold leading-10">8. Governing Law</h2>
      <p class="my-4 text-gray-300">
        These Terms and Conditions shall be governed by and construed in accordance with the laws of South Australia.
      </p>

      <h2 class="text-3x1 font-bold leading-10">Contact Us</h2>
      <p class="my-4 text-gray-300">
        If you have any questions or concerns about these Terms and Conditions, please contact us via the <%= landing_pages_link_to 'Terms and Conditions Contact Form', terms_contacts_path %>.
      </p>
    </div>
  </div>
</div>