<%= render 'data_models/stylesheet', data_models: [@data_model] %>
<%= render 'expiry_warning' %>
<div class="mx-auto max-w-6xl">
  <div class="max-lg:hidden text-zinc-950 dark:text-white">
    <%= link_to data_model_path(@data_model) do %>
      <div class="flex items-center space-x-2">
        <%= render_icon :arrow_back %>
        <span>Back to Preview</span>
      </div>
    <% end %>
  </div>
  <div class="flex flex-wrap items-end justify-between gap-4 mt-4">
    <div class="w-full">
      <%= page_header_tag 'Edit Data Model' %>
    
      <div class="flex justify-between items-center mt-4">
        <div class="flex gap-6 py-6">
          <%= render partial: 'resource_summary', locals: { name: @data_model.name, dom_id: dom_id(@data_model) } %>
          <%= turbo_frame_tag dom_id(@data_model) do %>
            <div class="space-y-1.5">
              <div class="text-base/6 font-semibold dark:text-white">
                <%= turbo_frame_tag dom_id(@data_model, :edit_name) do %>
                  <%= render 'data_models/link_to_edit_name', data_model: @data_model %>
                <% end %>
              </div>
              <div class="text-xs/6 text-zinc-500 min-h-4">
                <%= turbo_frame_tag dom_id(@data_model, :edit_description) do %>
                  <%= render 'data_models/link_to_edit_description', data_model: @data_model %>
                <% end %>
              </div>
              <%= render 'data_model_type_badge', data_model: @data_model %>
              <%= render 'other_workspace_badge', data_model: @data_model %>
              <%= turbo_frame_tag dom_id(@data_model, :status) do %>
                <%= render 'data_model_status_badge', data_model: @data_model %>
              <% end %>
            </div>
          <% end %>
        </div>
        <%= render 'data_models/edit_status', data_model: @data_model %>
      </div>
    </div>
  </div>

  <%- if @data_model.scorecards.any? %>
    <div class="mt-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-sm relative" role="alert">
      <strong class="font-bold">This data model is in use.</strong>
      <span class="block sm:inline">
        The data model is currently being used by <%= pluralize(@data_model.scorecards.count, 'impact card') %>. 
      </span>
      <span class="block">
        You can still edit the data model, but please be aware that changes may affect existing impact cards.
      </span>
    </div>
  <% end %>


  <div class="mt-4 flex flex-wrap items-end justify-start gap-4">
    <%= turbo_frame_tag dom_id(@data_model, :goals_list), class: 'w-full' do %>
      <% @data_model.children.order(:position).each do |goal| %>
        <%= render 'goals/goal', goal: goal %>
      <% end %>
    <% end %>
    
    <%= turbo_frame_tag dom_id(@data_model, :new_goal) do %>
       <%= render 'goals/link_to_new_element', data_model_id: @data_model.id %>
    <% end %>
  </div>
</div>
