<div class="mx-auto max-w-6xl">
  <%= form_with model: @data_model, class: 'mx-auto max-w-6xl', data: { turbo: false } do |form| %>
    <%= render 'form_header', record: @data_model %>
    <%= render 'form_body' do %>
      <%= render 'section', first_section: true do %>
        <%= render 'section_header', title: 'General Settings', subtitle: 'Name and description.' %>
        <%= render 'section_body' do %>

          <p class="text-red-600 dark:text-red-400">
            <%= @data_model.errors.full_messages.to_sentence %>
            <%- @data_model.focus_area_groups.each do |group| %>
              <%= group.errors.full_messages.to_sentence %>
              <%- group.focus_areas.each do |area| %>
                <%= area.errors.full_messages.to_sentence %>
                <%- area.characteristics.each do |characteristic| %>
                  <%= characteristic.errors.full_messages.to_sentence %>
                <%- end %>
              <%- end %>
            <%- end %>
          </p>

          <div class="sm:col-span-4">
            <%= form.label :name %>
            <%= form.text_field(:name, placeholder: 'Data model name', required: true, autofocus: true) %>
          </div>

          <div class="sm:col-span-4">
            <%= form.label :short_name %>
            <%= form.text_field(:short_name, placeholder: 'Short name', required: false) %>
          </div>

          <div class="col-span-full">
            <%= form.label :description %>
            <%= form.rich_textarea :description, rows: 3, placeholder: 'Data model description' %>
            <p class="text-sm/6 text-gray-600 dark:text-gray-400">A brief description of the data model (optional).</p>
          </div>

          <div class="sm:col-span-4">
            <%= form.label :status %>
            <%= form.select :status, options_for_select(DataModel.statuses.keys.map { |status| [status.humanize, status] }, @data_model.status)  %>
          </div>

          <%- if policy(@data_model).make_public_model? %>
            <div class="sm:col-span-4 flex items-center gap-2">
              <%= form.check_box(:public_model) %>
              <%= form.label :public_model? %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= render 'section' do %>
        <%= render 'section_header', title: 'Attribution', subtitle: 'Licensing and ownership.' %>
        <%= render 'section_body' do %>
        
          <div class="sm:col-span-4">
            <%= form.label :author %>
            <%= form.text_field(:author, placeholder: 'Author', required: false) %>
          </div>

          <div class="sm:col-span-4">
            <%= form.label :license %>
            <%= form.text_field(:license, placeholder: 'License', required: false) %>
          </div>

        <% end %>
      <% end %>
    <% end %>
    <%= render 'form_buttons', form:, cancel_path: data_models_path %>
  <% end %>
</div>
