<%= render 'section', first_section: true do %>
  <%= render 'section_header', title: 'Overview', subtitle: "General settings for this #{Scorecard.model_name.human.downcase}." %>
  <%= render 'section_body' do %>
    <div class="sm:col-span-4">
      <%= form.label :name %>
      <%= form.text_field(:name, placeholder: 'Card name', autofocus: true, required: true) %>
    </div>

    <div class="col-span-full">
      <%= form.label :description %>
      <%= form.rich_textarea :description, rows: 3, placeholder: '' %>
      <p class="text-sm/6 text-gray-600 dark:text-gray-400">A brief description of the <%= Scorecard.model_name.human.downcase %> (optional).</p>
    </div>
  <% end %>
<% end %>