<%- if @indicator.siblings.present? && @indicator.position < @indicator.siblings.last.position %> 
  <%- if @indicator.next_sibling.present? %>
    <%= turbo_stream.before dom_id(@indicator.next_sibling) do %>
      <%= turbo_frame_tag dom_id(@indicator) do %>
        <%= render 'indicators/indicator', indicator: @indicator, link_class: 'animate-flash-yellow' %>
      <% end %>
    <% end %>
  <% elsif @indicator.previous_sibling.present? %>
    <%= turbo_stream.after dom_id(@indicator.previous_sibling) do %>
      <%= turbo_frame_tag dom_id(@indicator) do %>
        <%= render 'indicators/indicator', indicator: @indicator, link_class: 'animate-flash-yellow' %>
      <% end %>
    <% end %>
  <% else %>
    <h1 class="text-2xl font-bold">No siblings found</h1>
  <% end %>

<% else %>
  <%= turbo_stream.append dom_id(@target, :indicators_list) do %>
    <%= turbo_frame_tag dom_id(@indicator) do %>
      <%= render 'indicators/indicator', indicator: @indicator, link_class: 'animate-flash-yellow' %>
    <% end %>
  <% end %>
<% end %>

<%= turbo_stream.update dom_id(@target, :new_indicator) do %>
  <%= render 'indicators/link_to_new_element', parent: @target %>
<% end %>
