<%- if @goal.siblings.present? && @goal.position < @goal.siblings.last.position %>
  <%- if @goal.next_sibling.present? %>
    <%= turbo_stream.before dom_id(@goal.next_sibling) do %>
      <%= turbo_frame_tag dom_id(@goal) do %>
        <%= render 'goals/goal', goal: @goal, link_class: 'animate-flash-yellow' %>
      <% end %>
    <% end %>
  <% elsif @target.previous_sibling.present? %>
    <%= turbo_stream.after dom_id(@goal.previous_sibling) do %>
      <%= turbo_frame_tag dom_id(@goal) do %>
        <%= render 'goals/goal', goal: @goal, link_class: 'animate-flash-yellow' %>
      <% end %>
    <% end %>
  <% else %>
    <h1 class="text-2xl font-bold">No siblings found</h1>
  <% end %>

<% else %>
  <%= turbo_stream.append dom_id(@data_model, :goals_list) do %>
    <%= turbo_frame_tag dom_id(@goal) do %>
      <%= render 'goals/goal', goal: @goal, link_class: 'animate-flash-yellow' %>
    <% end %>
  <% end %>
<% end %>

<%= turbo_stream.update dom_id(@data_model, :new_goal) do %>
  <%= render 'goals/link_to_new_element', parent: @data_model %>
<% end %>
