<div class="mx-auto max-w-6xl">
  <%= form_for(account, html: { role: 'form' }, data: { turbo: false }) do |form| %>
    <%= render 'form_header', record: account %>
    <%= render 'form_body' do %>
      <%= render 'section', first_section: true do %>
        <%= render 'section_header', title: 'Overview', subtitle: 'General settings for this account.' %>
        <%= render 'section_body' do %>
          <div class="sm:col-span-4">
            <%= form.label :name %>
            <%= form.text_field(:name, placeholder: 'Account name', autofocus: true, required: true) %>
          </div>

          <div class="sm:col-span-4">
            <%= form.label :description  %>
            <%= form.text_area :description %>
          </div>

        <% end %>
      <% end %>

      <%= render 'section' do %>
        <%= render 'section_header', title: 'Status', subtitle: 'Activation and expiration settings for this account.' %>
        <%= render 'section_body' do %>
          <% if policy(@account).update_protected_attributes? %>
            <div class="sm:col-span-4">
              <%= form.label :expires_on %>
              <%= form.date_field :expires_on %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :expiry_initial_reminder_sent_on %>
              <%= form.date_field :expiry_initial_reminder_sent_on, readonly: true, disabled: true, class: 'bg-slate-200 dark:bg-slate-600' %>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :expiry_final_reminder_sent_on %>
              <%= form.date_field :expiry_final_reminder_sent_on, readonly: true, disabled: true, class: 'bg-slate-200 dark:bg-slate-600' %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= render 'section' do %>
        <%= render 'section_header', title: 'Restrictions', subtitle: 'Limits to number of team members and impact cards' %>
        <%= render 'section_body' do %>
          <% if policy(@account).update_protected_attributes? %>
            <div class="sm:col-span-4">
              <%= form.label :max_users, "Max team members" %>
              <%= form.number_field :max_users, min: 0 %>
              <p class="text-sm/6 text-gray-600">Set to zero (0) to indicate unlimited team members.</p>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :max_impact_cards, 'Max impact cards' %>
              <%= form.number_field :max_impact_cards, min: 0 %>
              <p class="text-sm/6 text-gray-600">Set to zero (0) to indicate unlimited impact cards.</p>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= render 'section' do %>
        <%= render 'section_header', title: 'Other Settings' %>
        <%= render 'section_body' do %>
          <div class="sm:col-span-4">
            <%= form.label :default_workspace_grid_mode %>
            <%= form.select :default_workspace_grid_mode, options_for_default_workspace_grid_mode  %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= render 'form_buttons', form:, cancel_path: account.persisted? ? account_path(account) : accounts_path %>
    <% end %>
  <% end %>
</div>
